#root {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
}

.header {
  font-family: "Press Start 2P", monospace;
}

.header p {
  font-size: 0.8rem;
  color: rgb(202, 202, 202);
}
